@import url("https://fonts.googleapis.com/css2?family-Lato&display-swap");
* {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f8f6;
}

a {
    color: #4b2121;
    text-decoration: none;
    font-size: larger;
}

a:hover {
    color: #c56934;
}

button {
    background-color: rgb(118, 80, 206);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: medium;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
}

.header {
    background-color: #0707f8c5;
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 800px;
    margin: auto;
    margin-bottom: 25px;
    position: fixed;
    width: 100%;
    top: 0;
}

.header h1 {
    display: none;
}

.content {
    margin-top: 130px;
}

.about {
    background-color: #bbf11979;
}

.about ul {
    margin-left: 15px;
}

.about p {
    margin-bottom: 20px;
}

.articles {
    background-color: #c7ffcd;
}

.contacts {
    background-color: #d5daff;
}

.section {
    border-radius: 25px;
    padding: 25px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
}

.contacts input,
.contacts textarea {
    background-color: #e3e3ef;
    border: 2px #a7a7a7 solid;
    flex: 3;
    outline: none;
    padding: 10px;
}

.element {
    margin-bottom: 20px;
}

.about ul {
    margin-left: 18px;
}

img {
    border-radius: 40px;
}

.flex-container {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.form label {
    flex: 1;
    align-self: center;
}

.navigation ul {
    display: flex;
    list-style: none;
    height: 53px;
}

.navigation a {
    color: #d3f1e7;
}

.navigation li {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.navigation li:hover {
    background-color: #7e7ee6c5;
}

.table {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
}

.table tbody tr:nth-child(odd) {
    background-color: #a7a7a7;
    color: #fff;
}

@media (max-width: 700px) {
    .header {
        height: 40px;
    }

    .content {
        margin-top: 80px;
    }

    .header ul {
        display: none;
    }

    .header h1 {
        display: block;
    }

    .table {
        width: 250px;
    }
}